@using Taskord.Data.Models.Enums
@using Taskord.Services.Users.Models
@model ManageTeamRolesViewModel

<partial name="_TeamPartial" model="Model.Team"/>

<h2 class="text-center">Manage Member Roles in @Model.Team.Name</h2>

<div class="row">
    @if (Model.Users.Any())
    {
        @foreach (var user in Model.Users)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="@user.ImagePath" onerror="this.onerror=null; this.src='https://freepikpsd.com/file/2019/10/default-profile-picture-png-1-Transparent-Images.png'">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@user.Name</h5>
                        @if (user.Role == TeamRole.Admin)
                        {
                            <button class="makeBtn btn btn-info" id="@user.Id" disabled>Make Admin</button>
                            <button class="removeBtn btn btn-light" id="@user.Id">Remove Admin</button>
                        }
                        else
                        {
                            <button class="makeBtn btn btn-info" id="@user.Id">Make Admin</button>
                            <button class="removeBtn btn btn-light" id="@user.Id" disabled>Remove Admin</button>
                        }
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <a asp-controller="Teams" asp-action="InviteMembers" asp-route-teamId="@Model.Team.Id" class="btn btn-primary btn-lg btn-block">Only you  are in the team! Invite your friends here.</a>
    }
</div>

@section Scripts {
    <script type="module">
        let addBtns = document.getElementsByClassName('makeBtn');
        let removeBtns = document.getElementsByClassName('removeBtn');

        [...removeBtns].forEach(x => {
            x.addEventListener('click' , (event) => {
                manageUserRole(x.id, '@Model.Team.Id', x, 'makeBtn', 0);
            });
        });

        [...addBtns].forEach(x => {
            x.addEventListener('click' , (event) => {
                manageUserRole(x.id, '@Model.Team.Id', x, 'removeBtn', 1);
            });
        });

        async function manageUserRole(userId, teamId, btn, otherId, role) {
            const response = await fetch('/api/teams/manageMemberRole', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ TeamId: teamId, UserId: userId, Role: role})
            });

            if (response.ok) {
                let otherBtn = btn.parentElement.querySelector(`.${otherId}`);
                otherBtn.disabled = !otherBtn.disabled;
                btn.disabled = !btn.disabled;
            }
        }
    </script>
}