<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Taskord</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Taskord.Web.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 text-white">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Taskord</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @*<li class="nav-item dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @await Component.InvokeAsync("Teams")
                                </ul>
                            </li>*@

                            <li class="nav-item">
                                <a asp-controller="Chats" asp-action="Get" asp-route-teamId="me" class="nav-link text-dark">Personal Chats</a>
                            </li>
                            
                            <li class="nav-item">
                                <a asp-controller="Personal" asp-action="Search" class="nav-link text-dark">Search</a>
                            </li>
                            
                            <li class="nav-item">
                                <a asp-controller="Personal" asp-action="Requests" class="nav-link text-dark">Requests</a>
                            </li>
                            
                            <li class="nav-item">
                                <a asp-controller="Teams" asp-action="Create" class="nav-link text-dark">Create Team</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main class="content">
        <div class="container p-0">
            <div class="card">
                <div class="row g-0">
                    @*@RenderSection("Teams", false)*@
                    @RenderSection("Sidebar", false)
                    @RenderBody()
                    @RenderSection("Members", false)
                </div>
            </div>
        </div>
    </main>

    @* <footer id="footer" class="border-top footer text-muted">
        <div class="container">
        &copy; @DateTime.Now.Year - Taskord
        </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
