@using Taskord.Services.Posts.Models
@model IEnumerable<PostServiceModel>

@{
    ViewData["Title"] = "All Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-content profile-tabs-content">
    <div class="tab-pane active" id="profile-overview" role="tabpanel">
        <div class="stream-posts">
            @if (Model.Count() == 0)
            {
                <div class="sp-content">
                    <p class="sp-paragraph mb-0">No posts yet!</p>
                </div>
            }
            else
            {
                @foreach (var post in Model)
                {
                    <div class="stream-post">
                        <div class="sp-author">
                            <a asp-controller="User" asp-action="Profile" asp-route-userId="@post.User.Id" class="sp-author-avatar">
                                <img src="@post.User.ImagePath" onerror="this.onerror=null; this.src='https://freepikpsd.com/file/2019/10/default-profile-picture-png-1-Transparent-Images.png'">
                            </a>
                            <h6 class="sp-author-name"><a href="#">@post.User.Name</a></h6>
                        </div>
                        <div class="sp-content">
                            <div class="sp-info">@post.DateTime</div>
                            <p class="sp-paragraph mb-0">@post.Content</p>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>